<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <!--<startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>-->
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>
  <log4net>
    <appender name="RollingLogFileAppender1" type="log4net.Appender.RollingFileAppender">
      <file type="log4net.Util.PatternString" value="Log\User_log[%processid].log" />
      <appendToFile value="true"/>
      <rollingStyle value="Date"/>
      <layout type="log4net.Layout.PatternLayout">
       <conversionPattern value="%date{dd/MMM/yyyy, HH:mm:ss:fff}, %message %newline"/>
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
      </filter>
    </appender>
    
    <appender name="RollingLogFileAppender2" type="log4net.Appender.RollingFileAppender">
      <file type="log4net.Util.PatternString" value="Log\Error_log[%processid].log" />
      <appendToFile value="true"/>
      <rollingStyle value="Date"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date{dd:MMM:yyyy, HH:mm:ss:fff}, %message %newline"/>
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
      </filter>
    </appender>
    
    <appender name="RollingLogFileAppender3" type="log4net.Appender.RollingFileAppender">
      <file type="log4net.Util.PatternString" value="Log\technical_log[%processid].log" />
      <appendToFile value="true"/>
      <rollingStyle value="Date"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date{dd:MMM:yyyy, HH:mm:ss:fff}, %message %newline"/>
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
      </filter>
    </appender>


    <logger name="RollingLogFileAppender1">
      <level value="INFO" />
      <appender-ref ref="RollingLogFileAppender1" />
    </logger>

    <logger name="RollingLogFileAppender2">
      <level value="ERROR" />
      <appender-ref ref="RollingLogFileAppender2" />
    </logger>

    <logger name="RollingLogFileAppender3">
      <level value="DEBUG" />
      <appender-ref ref="RollingLogFileAppender3" />
    </logger>
    
    <!--<root>
      
      <appender-ref ref="RollingLogFileAppender1"/>
      <appender-ref ref="RollingLogFileAppender2"/>
      <appender-ref ref="RollingLogFileAppender3"/>
      
    </root>-->
  </log4net>
  
  <!--<appSettings>
    <add key="url" value=" http://192.168.1.77/InnovatorServerSP14/" />
    <add key="database" value="MagnaDevelopmentNew" />
    <add key="userid" value="bhakti" />
    <add key="password" value="bhakti@123" />
  </appSettings>-->

  <!--<appSettings>
    <add key="url" value="http://localhost/InnovatorServer11SP14/" />
    <add key="database" value="MagnaDevelopmentNew" />
    <add key="userid" value="root" />
    <add key="password" value="innovator" />
  </appSettings>-->

  <appSettings>
    <add key="url" value="http://ztomsappcpmpdvd.magna.global/InnovatorServer/" />
    <add key="database" value="CPMP" />
    <add key="userid" value="root" />
    <add key="password" value="innovator" />
  </appSettings>
</configuration>